extends layout

block content
  h1 Time 4 Trivia Leaderboard!
  table
    thead
      tr
        th User
        th Score
    tbody
      each val in leaders
        tr
          td= val.firstname + ' ' + val.lastname
          td= val.Score