extends layout

block content
    h1 Register
    if error != ''
        label(class='error') #{error}
    form(action='/u/register', method='post')
        label Username:
        input(type='text', name='username', required,)
        br
        label Email:
        input(type='text', name='email', required,)
        br
        label First Name:
        input(type='text', name='firstName', required,)
        br
        label Last Name:
        input(type='text', name='lastName', required,)
        br
        label Password:
        input(type='password', name='password', required,)
        br
        input(type='submit', value='register', required,)