extends layout 
block content 
  h1 Final Score 
    //- Replace with users information and accumulated score 
    //- Currently just using dummy data
    //- (Preferably gotten and updated from the database 
    //- whenever a user finishes a game)

    //- label= val.name + ' : '
    //- span= val.score
    each val in score
      div
        label= val.name + ' : '
        span= val.score