extends layout 
block content 

  div 
    h1 Submit a Question 
      form(action="/submit", method="post") 
        label 
        input(type='text', name='question', placeholder='Input your questions here...', required, )
        br
        label
        input(type='text', name='correct_answer', placeholder='Input the correct answer here...', required, )
        br
        label
        input(type='text', name='incorrect_one', placeholder='Input an incorrect answer here...', required, )
        br
        label
        input(type='text', name='incorrect_two', placeholder='Input an incorrect answer here...', required, )
        br
        label
        input(type='text', name='incorrect_three', placeholder='Input an incorrect answer here...', required, )
        br
        label
        input(type='submit', value='Submit')

        br
        if result
          p #{result.questionStatus}
        else
          div